.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-colour;
}

.logo-header {
  color: $black;
  margin-right: 93px;
}

.logo-footer {
  color: $white;
}
